
/*-------------------blackLine-list grid --------------------*/
.blackLine-list{color:#333;}
.blackLine-list .mini-grid-border
{
    border:0;
}
.blackLine-list .mini-grid-header
{
    background:#E6F0FF;
	line-height:18px;
}

.blackLine-list .mini-grid-headerCell, .blackLine-list .mini-grid-topRightCell, .blackLine-list .mini-grid-header td
{
    background:#F3F3F3;
    border-right:#000 1px solid;
    border-bottom:#000 1px solid;
    height:28px;/*ff高度*/height:26px\9;/*ie6,ie7,ie8高度*/
    line-height:16px;
    font-weight: normal;
    padding:0 2px;	
}

.blackLine-list .mini-grid-cell, .blackLine-list .mini-grid-body td
{
    border-bottom:#000 1px solid; 
    border-right: #000 1px solid;
}
.blackLine-list .mini-grid-body td{
	padding:3px 5px 3px 5px; 
    line-height:5mm;
}

.blackLine-list  td.mini-grid-topRightCell
{
    background-image:none;
    border-right:#000 1px solid;
    border-bottom:#000 1px solid;
}
.blackLine-list .mini-grid-cell .mini-grid-last-column
{
    border-right: 0;
}


/*-------------------------白底黑框风格 panel -----------------------*/

.openOpt .mini-panel-border
{    
    border:1px solid #D5D5D5;     
}
.openOpt .mini-panel-header
{
    height:34px;
    background:#E3E6E8 url(images/panel/header.gif) repeat-x 0 0px;
    color:#000;
    font-weight:bold;
    border-bottom:solid 1px #E0E0E0;
}
.openOpt .mini-panel-header-inner
{
   padding-top:4px;
}
.openOpt .mini-panel-toolbar
{
    border-bottom:solid 1px #99bce8;
    background:#D3E1F1;
}

.openOpt .mini-panel-footer
{
    border-top:solid 1px #99bce8;
    background:#D3E1F1;
}

.openOpt .mini-panel-collapse .mini-tools-collapse
{
    background:url(images/tools/expand.gif) no-repeat 50% 50%;
}

/*-----------------------------白底黑框风格 window -------------------------*/
.openOpt .mini-panel-header
{
    background:#E3E6E8 url(images/window/header.gif) repeat-x 0 0px;
}
.openOpt .mini-panel-footer
{
    background:#D3E1F1;
}
.mini-messagebox .mini-panel-footer{
	background:#fff;
	border-top:0;
}
.mini-messagebox .mini-panel-body{
	max-height: 200px;
    _height:expression(this.firstChild.offsetHeight > 200 ? "200px" : "auto"); 
    overflow-x:hidden;
    overflow-y:auto;
    text-align: left;
}
.mini-messagebox .mini-messagebox-content{
	padding:1px;
}
.mini-messagebox-info,
.mini-messagebox-warning,
.mini-messagebox-question,
.mini-messagebox-error,
.mini-messagebox-waiting
{
    margin-top:10px;
}
.mini-messagebox-content td
{
    word-break: break-all; 
    word-wrap:break-word;
    vertical-align: top;
    text-align: left!important;
    line-height:19px;
}
.mini-window .layer_header
{
    background:none;
    border: 0;
    height:27px;
}
.layer_header .mini-panel-header-inner{
	padding:1px;
}
.layer_header .mini-panel-title{
	width:100%;
	font-size: 12px; 
    font-weight: bolder; 
    color: #0256C8; 
}

.openOpt .mini-panel-title{
	line-height: 30px;
	font-size: 14px;
	background:url(images/window/tag_ico.gif) no-repeat 0 -5px;
	padding-left:30px;	
	}
.openOpt .mini-tools{
	top:10px;
	right: 10px;
	position: absolute;
	}

.openOpt .mini-panel-body{
	padding:0;
	}	
	

/*-----------------------------------白底黑框风格 tools ----------------------------------*/	
.openOpt .mini-tools-max
{
    background:url(images/tools/max.gif) no-repeat 50% 50%;
	width:25px;
}
.openOpt .mini-tools-restore
{
    background:url(images/tools/restore.gif) no-repeat 50% 50%;
}

.openOpt .mini-tools-close
{
    background:url(images/tools/close.gif) no-repeat 50% 0px;
    width:25px;	
}	



/**任务管理列表操作区——下拉列表框**/
.rwgl_cz .mini-buttonedit
{
    height:24px;
    margin:0px;
}
.rwgl_cz .mini-buttonedit-border{
	border:1px solid #D8D8D8; 
	height:22px;
	line-height:22px;
}
.rwgl_cz .mini-buttonedit-input{
	height:22px;
	line-height:22px;
	border:0; 
	background:transparent;
	padding-left:5px;
}
.rwgl_cz .mini-buttonedit-focus .mini-buttonedit-border
{
    border-color: #D8D8D8;
}
.rwgl_cz .mini-buttonedit-button
{
	background:transparent;
	border:0;   
	padding-top:3px;
}
.rwgl_cz .mini-buttonedit-button-hover,
.rwgl_cz .mini-buttonedit-hover .mini-buttonedit-button
{
    background:transparent;
	border-color:transparent;
}
.rwgl_cz .mini-buttonedit-button-pressed,
.rwgl_cz .mini-buttonedit-popup .mini-buttonedit-button
{
    background:transparent;
	border-color:transparent;
}

/*-------------------------白底蓝框风格 panel -----------------------*/

.openLcdy .mini-panel-border
{    
    border:1px solid #99bce8;     
}
.openLcdy .mini-panel-header
{
    height:30px;
	line-height: 30px;
    color:#0454DA;
    font-weight:bold;
	border-bottom:solid 1px #99bce8;
}
.openLcdy .mini-panel-header-inner
{
   padding-top:2px;
}

/*-----------------------------白底蓝框风格 window -------------------------*/
.openLcdy .mini-panel-header
{
    background:#fff url(images/window/header1.jpg) repeat-x 0 bottom;
}



.openLcdy .mini-panel-title{
	line-height: 30px;
	font-size: 13px;
	background:url(images/window/tag_ico1.gif) no-repeat 0 4px;
	padding-left:25px;	
	}
.openLcdy .mini-tools{
	top:8px;
	right: 0px;
	position: absolute;
	}

.openLcdy .mini-panel-body{
	padding:0;
	}	
	

/*-----------------------------------白底蓝框风格 tools ----------------------------------*/	
.openLcdy .mini-tools-max
{
    background:url(images/tools/max.gif) no-repeat 50% 50%;
	width:25px;
}
.openLcdy .mini-tools-restore
{
    background:url(images/tools/restore.gif) no-repeat 50% 50%;
}

.openLcdy .mini-tools-close
{
    background:url(images/tools/close1.gif) no-repeat 50% 0px;
    width:25px;	
}	
