<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lab.dao.ExperEqMapper" >
  <resultMap id="BaseResultMap" type="cn.com.lab.model.ExperEq" >
    <id column="eq_id" property="eq_id" jdbcType="VARCHAR" />
    <result column="eq_name" property="eq_name" jdbcType="VARCHAR" />
    <result column="eq_num" property="eq_num" jdbcType="INTEGER" />
    <result column="eq_des" property="eq_des" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    eq_id, eq_name, eq_num, eq_des
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from exper_eq
    where eq_id = #{eq_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from exper_eq
    where eq_id = #{eq_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.lab.model.ExperEq" >
    insert into exper_eq (eq_id, eq_name, eq_num, 
      eq_des)
    values (#{eq_id,jdbcType=VARCHAR}, #{eq_name,jdbcType=VARCHAR}, #{eq_num,jdbcType=INTEGER}, 
      #{eq_des,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.lab.model.ExperEq" >
    insert into exper_eq
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eq_id != null" >
        eq_id,
      </if>
      <if test="eq_name != null" >
        eq_name,
      </if>
      <if test="eq_num != null" >
        eq_num,
      </if>
      <if test="eq_des != null" >
        eq_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eq_id != null" >
        #{eq_id,jdbcType=VARCHAR},
      </if>
      <if test="eq_name != null" >
        #{eq_name,jdbcType=VARCHAR},
      </if>
      <if test="eq_num != null" >
        #{eq_num,jdbcType=INTEGER},
      </if>
      <if test="eq_des != null" >
        #{eq_des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.lab.model.ExperEq" >
    update exper_eq
    <set >
      <if test="eq_name != null" >
        eq_name = #{eq_name,jdbcType=VARCHAR},
      </if>
      <if test="eq_num != null" >
        eq_num = #{eq_num,jdbcType=INTEGER},
      </if>
      <if test="eq_des != null" >
        eq_des = #{eq_des,jdbcType=VARCHAR},
      </if>
    </set>
    where eq_id = #{eq_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.lab.model.ExperEq" >
    update exper_eq
    set eq_name = #{eq_name,jdbcType=VARCHAR},
      eq_num = #{eq_num,jdbcType=INTEGER},
      eq_des = #{eq_des,jdbcType=VARCHAR}
    where eq_id = #{eq_id,jdbcType=VARCHAR}
  </update>
</mapper>